@media (max-width: 1200px){
    #title-home{
        height: 500px;
        h1 img{
            top: 25%;
        }
        h2{
            top: 40%;
            font-size: 1.3em;
        }
    }
    .btn-slider{
        top: 75%;
        font-size: 16px;
    }
    .btn-slider-1{
        left: 35%;
        }
    .btn-slider-2{
    left: 65%;
    }
    .all-members{
        .member{
            flex: 0 0 32%;
            max-width: 32%;
        }
    }
    #members .member {
        width: 40%;
        &:nth-child(4) {
            display: none;
        }
    }
}

@media (max-width: 992px){
    #title-home{
        background: url(../img/visuel-team-home-md.jpg) no-repeat bottom center;
    }
    .all-members{
        .member{
            flex: 0 0 47%;
            max-width: 47%;
        }
    }
    .aside-admin{
        display: none;
    }
    .admin-container{
        max-width: 100%;
        flex: 0 0 100%;
    }
}

@media (max-width: 840px) {
    .piechart-container, .chart-container{
        display: none;
    }
}

@media (max-width: 768px){
    #title-home h2{
        top: 35%;
        font-size: 1.3em;
    }
    .btn-slider{
        font-size: 14px;
    }
    .bandeau-home{
        h1{
            img{
                top: 32%;
                width: 300px;
            }
        }
        h2{
            width: 80%;
        }
        .text-apparition{
            top: 57%;
        }
    }
    .btn-slider-1{
        display: none;
    }
    .btn-slider-2{
        left: 50%;
    }
    #title-home{
        height: 400px;
        background: url(../img/visuel-team-home-sm.jpg) no-repeat bottom center;
    }
    #members .member:nth-child(3){
        display: none;
    }
    .mobile-hidden{
        display: none;
    }
}

@media (max-width: 620px){
    .all-members{
        .member{
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

@media (max-width: 576px){
    #members .member{
        width: 80%;
        &:nth-child(2) {
            display: none;
        }
    }
}
