/*
Projet : Build my Team
Auteur : Florian Soumaille
Date : octobre 2019
Version : 1.0

I - STRUCTURE SITE
  1-1 VARIABLES
  1-2 RESET
  1-3 FONTS & TITLES
  1-4 BUTTONS
  1-5 NAV
  1-6 MAIN
  1-7 COOKIES
  1-8 FOOTER

II - PAGES SITE
  2-1 HOME
  2-2 CONNEXION
  2-3 INSCRIPTION
  2-4 MEMBRES
  2-5 MEMBRE
  2-6 CONTACT
  2-7 ADMIN

III - ANIMATIONS

*/

/* I - STRUCTURE SITE */

// 1-1 VARIABLES

$gris: #333;

@mixin translate(){
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* 1-2 RESET */

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* 1-3 FONTS & TITLES */

@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&display=swap');

body{
    font-family: 'Comfortaa', Arial , sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span{
    font-weight: 300;
}

h2{
    text-align: center;
    margin-bottom: 40px;
}

h3{
    font-size: 1.2em;
}

/* 1-4 BUTTONS */

.btn-fiche{
    border-radius: 5px;
    background-color: #5a398e;
    border: solid 2px #5a398e;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin: 5px;
    outline: 0;
    text-decoration: none;
    color: #fff;

    &:hover {
        text-decoration: none;
        color: #5a398e;
        border: solid 2px #5a398e;
        background-color: transparent;
    }
}

.btn-members{
    margin-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    a{
        margin-top: 0;
    }
}

/* 1-5 NAV */

.dropdown:hover > .dropdown-menu{
    display: block;
}

.dropdown > .dropdown-toggle:active{
    pointer-events: none;
}

.top-nav{
    z-index: 999;
    position: fixed !important;
    top: 0;
    width: 100%;
    box-shadow: 0px -15px 26px #555;
    .navbar-collapse{
        flex-grow: initial;
    }
}

.nav-item{
    margin: 0 10px;
    font-size: 14px;
    .active{
        color: #000;
    }
    .account-links{
        color: rgba(0, 0, 0, .5);
        display: block;
        padding: .5rem 0;
        .account{
            padding-left: 20px;
        }
        a {
            color: rgba(0, 0, 0, .5);
            text-decoration: none;
            &:hover{
                color: rgba(0, 0, 0, .7);
            }
        }
    }
}

.dropdown-menu{
    left: -16px;
    padding: 5px 0;
    margin: 0;
    background-color: #f8f9fa;
    border: 0;

    .dropdown-item{
        padding: .25rem 1.5rem;
        color: $gris;
        font-size: 14px;
        
        &:hover{
        background-color: #f3f3f3;
        }
    }
}

.logo{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    color:$gris;
    
    &:hover{
    text-decoration: none;
    color:$gris;
    }

    img{
        height: 30px;
        margin-right: 5px;
    }
}

/* 1-6 MAIN */

main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.bandeau{
    height: 300px;
    width: 100%;
    background-size: cover;
    position: relative;
}

.breadcrumb{
    background: #fff;
    padding: 2rem 2rem 0;
    margin: 0;
    border-radius: 0;
    font-size: 14px;

    .breadcrumb-link{
        color: #555;
        display: block;
        padding: 0 10px;
    }

    .active{
        color: #000;
    }
}

/* 1-7 COOKIES */

#cookies{
    color: $gris;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 9999;
    padding: 0;
    opacity: 0;
    -webkit-animation: anim-cookies .5s linear forwards;
    animation: anim-cookies .5s linear forwards;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;

    .contain-cookies{
        width: 100%;
        position: relative;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.98);
        box-shadow: -1px -1px 8px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        padding: 10px 0;

        img{
            height: 80px;
        }

        p{
            margin: 0;
            padding: 0 20px;
        }
    }

    .closebtn-cookies{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        color: $gris;
        transition: all .5s ease-in-out;

        &:hover{
            transform: rotate(180deg);
            color: #5a398e;
        }
    }

    .legal-cookies{
        margin: 20px 0 0 20px;
        color: $gris;
    }
}

/* 1-8 FOOTER */

footer{
    background-color: $gris;
    color: #fff;
    p{
        color: #fff;
    }
    li{
        list-style: none;
        a{
            color: #fff;
            text-decoration: none;
            &:hover{
                color: #f7f7f7;
            }
        }
    }
}

/* II - PAGES DU SITE */

/* 2-1 HOME */

.bandeau-home{
    height: 500px;
    background: url(../img/team-header-home.jpg) no-repeat fixed bottom;

    h1 img{
        position: absolute;
        top: 38%;
        left: 50%;
        @include translate();
        width: 350px;
        opacity: 0;
        -webkit-animation: fadeIn 3s ease;
        animation: fadeIn 3s ease;
        -webkit-animation-delay: .2s;
        animation-delay: .2s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    h2{
        position: absolute;
        width: 100%;
        top: 60%;
        left: 50%;
        @include translate();
        color: #fff;
        font-size: 1.5em;
        font-weight: 400;
    }
}

.wave{
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: -1px;
    left: 0;
    background: url(../img/wavy3.png);
    animation: wavy 45s linear infinite;

    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 30px;
        bottom: -1px;
        left: 0;
        background: url(../img/wavy3.png);
        opacity: .4;
        animation: wavy-reverse 30s linear infinite;
    }
}

.btn-slider{
    position: absolute;
    top: 75%;
    @include translate();
    z-index: 2;
    border-radius: 5px;
    background-color: #5a398e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin: 5px;
    outline: 0;

    a, &:hover{
        color: #fff;
    }

    span {
        display: inline-block;
        position: relative;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;

        &::after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
        }
    }

    &:hover span{
        padding-right: 25px;

        &::after{
            opacity: 1;
            right: 0;
        }
    }
}

.btn-slider-1{
    left: 40%;
    opacity: 0;
    -webkit-animation: fadeIn 1s ease;
    animation: fadeIn 1s ease;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.btn-slider-2{
    left: 60%;
    opacity: 0;
    -webkit-animation: fadeIn 1s ease;
    animation: fadeIn 1s ease;
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

section{
    padding: 20px 0;
    overflow: hidden;
}

    /* DEV SECTION */

#dev h2{
    margin-top: 20px;
}

#dev h3{
    margin-bottom: 20px;
}

.explication{
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.2rem;
}

.container-dev{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    .btn-fiche{
        margin: 0 auto 20px;
    }
}
    /* RECRUITER SECTION */

#recruiter{
    background: #f7f7f7;
}

.wave-gris{
    background: url(../img/wave-gris-3.png) center;
    background-size: cover;
    width: 100%;
    height: 30px;
    animation: wavy 30s linear infinite;
}

.wave-gris-reverse{
    transform: rotate(180deg);
    animation: wavy-reverse 40s linear infinite;
}

    /* SECTION NOUVEAUX */

#members{
    padding: 30px 0;
    margin: 0;
}

#members .row{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: initial;
    width: 100%;
}

.member{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    background: #f7f7f7;
    border-radius: 10px;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;

    &:hover{
        background: #f1f1f1;
        -webkit-box-shadow: 3px 3px 10px -5px rgba(0,0,0,0.3);
        box-shadow: 3px 3px 10px -5px rgba(0,0,0,0.3);
    }

    .name{
        font-size: 1em;
        font-weight: 700;
        line-height: 1.2;

        span {
            font-size: 1.3em;
            font-weight: 300;
        }
    }

    .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        -webkit-box-shadow: 3px 3px 10px -5px rgba(0,0,0,0.3);
        box-shadow: 3px 3px 10px -5px rgba(0,0,0,0.3);
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
        }
    }

    .metier{
        font-size: 1em;
        font-weight: 700;
        line-height: 1.2;
        margin: 1rem 0 .5rem;

        span {
            font-size: .8em;
            font-weight: 400;

            &:last-child {
                font-weight: 700;
            }
        }
    }
}

    /* SECTION NEWSLETTER */

#newsletter{
    background-color: #f7f7f7;
    padding: 30px 0;
    margin: 0;
}

    /* 2-2 PAGE CONNEXION */

.title-section {
    height: 250px;
    background: url(../img/team-header-home.jpg) no-repeat center;

    h1 {
        position: absolute;
        top: 60%;
        left: 50%;
        color: #fff;
        @include translate();
        opacity: 0;
        -webkit-animation: fadeIn 3s ease;
        animation: fadeIn 3s ease;
        -webkit-animation-delay: .2s;
        animation-delay: .2s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
}
.wave-title {
    top: 222px;
    height: 30px;
    background: url(../img/wavy3.png);

    &::before {
        height: 30px;
        background: url(../img/wavy3.png);
    }
}

#connexion-form{
    label{
        margin: 1.2rem 0 .2rem;
    }
}

.forgotten{
    margin: 20px 0 10px;

    a{
        text-decoration: none;
        color: $gris;
        display: inline-block;
        padding: 0 15px;

        &:hover{
            text-decoration: underline;
            color: #5a398e;
        }
    }
}

    /* 2-3 PAGE INSCRIPTION */

#registration-form-container{

    .registration-form{
        min-width: 50%;

        label{
            margin: 1.2rem 0 .2rem;

            >label{
                margin: 0;
            }
        }

        #registration_resume{
            height: 100px;
        }

        #registration_recherchePoste{
            position: relative;
        }

        .custom-file-label{
            margin: 0;
        }

        .btn-fiche{
            margin-top: 20px;
        }

        .hidden-row{
            display: none;
        }
    }
}

    /* 2-4 PAGE MEMBRES */

#div_chart{
    padding-top: 35px;
}

#div_piechart{
    padding-top: 10px;
}

.search-length{
    font-size: 1.2rem;
    line-height: 1.2;

    span{
        font-size: 1.5em;
        font-weight: bold;
        color: #5a398e;
    }
}

.search-bar{

    .row{
        padding: 5px 0;
    }

    .btn-fiche{
        padding: 5px 10px;
        margin: 0 5px;

        i{
            font-size: 1.2rem;
        }
    }

    #search-member{
        min-width: 300px;
    }

    .line{

    }
}

.all-members{

    .member{
        flex: 0 0 24%;
        max-width: 24%;
    }
}

.btn-members{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: initial;
    width: 100%;
}

.pagination{

    .active{

        .page-link{
            color: #fff !important;
        }
    }

    .page-item{
        margin: 0 5px;

        &:first-of-type, &:last-of-type{

            .page-link{
                border: none;
                border-radius: 3px;
            }
        }

        .page-link{
            color: #5a398e;
            border: solid 1px #dee2e6;
            border-radius: 3px;

            &:hover, &:active {
                color: #fff;
                text-decoration: none;
                background-color: #5a398e;
                border-color: #5a398e;
            }
        }
    }
    .page-item.active{

        .page-link{
            background-color: #5a398e;
            border-color: #5a398e;
        }
    }
}

.more-filters{

    a{
        padding: 5px 10px;
        margin: 0 5px;
        border-radius: 5px;
        background-color: #5a398e;
        border: solid 2px #5a398e;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        outline: 0;
        text-decoration: none;
        color: #fff;
        position: relative;

        &:hover{
            text-decoration: none;
            color: #5a398e;
            border: solid 2px #5a398e;
            background-color: transparent;
        }
    }
}

.not-found{
    background-color: #f7f7f7;
}

    /* 2-5 PAGE MEMBRE */

#member{

    h1{

        span{
            font-size: .5em;
        }
    }

    .member-card {
        -webkit-box-shadow: 3px 3px 10px -5px rgba(0,0,0,0.3);
        box-shadow: 3px 3px 10px -5px rgba(0,0,0,0.3);
        margin-bottom: 20px;

        aside{
            background-color: #f7f7f7;
        }

        .member-avatar {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            -webkit-box-shadow: 3px 3px 10px -5px rgba(0,0,0,0.3);
            box-shadow: 3px 3px 10px -5px rgba(0,0,0,0.3);
            animation: bounce 2s;
            animation-delay: 1s;
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
            }
        }

        .member-title{
            background: #f0f0f0;

            .member-name {
                font-size: 1.5rem;
                font-weight: 300;
            }

            .member-job{
                font-size: 1.3rem;
                font-weight: bold;
                line-height: 1;
            }

            .member-search{
                color: $gris;
                margin: 0;
            }
        }

        .member-subtitle {
            font-size: 1.2rem;
            font-weight: bold;
            color: #5a398e;
            text-decoration: underline;
        }

        .member-resume {
            width: 90%;
        }
    }
}

    /* 2-6 PAGE CONTACT */

.bandeau-contact{
    background: url(../img/team-header-home.jpg) no-repeat bottom center;
     h1{
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate()
     }
}

    /* 2-7 PAGE ADMIN */

.aside-admin{
    background: #f7f7f7;
    display: flex;
    flex-direction: column;

    h3{
        margin: 30px 0 0;
        font-size: 1.5rem;
        color: #5a398e;
    }

    .line{
        width: 80%;
        padding: 20px 0 0;
        margin-bottom: 20px;
        border-bottom: solid 1px #999;
    }

    h4{
        margin-top: 20px;
        font-size: 1.2rem;
        font-weight: 700;
        color: #5a398e;
    }

    h5{
        margin-top: 20px;
        font-size: 1rem;
        font-weight: 300;
        color: #5a398e;
    }
}

.btn-admin-aside{
    font-size: 14px;
}

.btn-admin-pannel{
    font-size: 18px;
    padding: 0 3px;
    color: #5a398e;
}

.btn-delete{
    color: #c20808;
}

.admin-container{

    .admin-container-title{
        position: relative;

        h2{
            margin: 40px 0 50px;
            color: #5a398e;

            .count{
                background: #5a398e;
                color: #fff;
                padding: 7px 7px 5px;
                border-radius: 5px;
                font-size: 0.4em;
                font-weight: 700;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .table th{
        border-top: 0;
    }

    tbody{
        tr:nth-of-type(odd){
            background: #f9f9f9;
        }
    }
}

.alert{
    border-radius: 0;
    margin-left: -15px;
    margin-right: -15px
}

.alert-success {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b8d36;
    border-color: #1b8d36;

    p{
        margin: 0;
        padding: 10px 0;
    }
}

.alert-news{
    background-color: transparent;
    border-color: transparent;
    font-weight: 700;
    font-size: 1.3rem;
    color: #5a398e;
}

.tip{
    position: relative;

    span{
        display:none;
    }

    &:hover span{
        padding: 5px;
        display: block;
        z-index: 100;
        background: #5a398e;
        color: #fff;
        text-align: center;
        font-size: 14px;
        right: -16px;
        margin: 10px;
        width: 90px;
        position: absolute;
        top: -55px;
        text-decoration: none;
        border-radius: 3px;

        &::after{
            content: url(../img/fleche_violette.png);
            width: 16px;
            height: 13px;
            position: absolute;
            right: 12px;
            top: 29px;
        }
    }
}


/* III - ANIMATIONS */


@-webkit-keyframes anim-cookies {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes anim-cookies {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@-webkit-keyframes wavy{
    0%{
        background-position: 0;
    }
    100%{
        background-position: 1920px;
    }
}

@keyframes wavy{
    0%{
        background-position: 0;
    }
    100%{
        background-position: 1920px;
    }
}

@-webkit-keyframes wavy-reverse{
    0%{
        background-position: 1920px;
    }
    100%{
        background-position: 0;
    }
}

@keyframes wavy-reverse{
    0%{
        background-position: 1920px;
    }
    100%{
        background-position: 0;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
}

@-webkit-keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to{
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43%{
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70%{
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90%{
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to{
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43%{
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70%{
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90%{
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}
