{% extends 'base.html.twig' %}

{% block content %}

    <!-- Main -->

    <main id="page-members">

        <div class="container-fluid bandeau-contact">
            <h1 class="mt-5 mb-4">Contactez-nous</h1>
        </div>

    </main>

{% endblock %}
